h1 {
  text-align: center;
  color: orange;
  background-color: black;
  border: 1px solid yellow;
}

p {
  text-align: center;
}

section {
  text-align: left;
}

.brain {
  display: block;
  margin: auto;
}

img {
  border: 3px solid black;
}

body {
  background-color: pink;
}
